h1 {
	font-size: 60px;
	color: #232D33;
	padding-top: 20px;
	padding: 17px;
	font-family: 'Marck Script', cursive;
	text-align: center;
}
#hidescription {
	font-family: 'Marck Script', cursive;
	color: #364850;
	font-size: 16px;
	padding-left: 35px;
}
#header_nav {
	height: 35px;
}
#header_nav ul {
	list-style:none;
}
#header_nav ul li {
	float: left;
	line-height: 25px;
	padding:0 7px;
}
#header_nav ul li:last-child {
	border-top: none;
}
#header_nav ul li a {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 15px 25px;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 10px;
    color: #232D33;
    box-shadow: inset 0 -5px 0 #232D33;
   }
#header_nav ul li a:hover {
    box-shadow: inset 0 -60px 0 #232D33,
    2px 2px 3px rgba(0,0,0,0.3);
    color: #FDFDFD;
}
input[type="text"] {
	border: 1px solid blue;
}
input[type="email"] {
	border: 1px solid blue;
}
#weatherTable {
	 position:absolute;
	 top:20%;
	 left:13%;
	 width:700px;
	 height:450px;
	 padding:10px;
}
.table_col {
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 14px;
	background: white;
	text-align: center;
	color: #191A1C;
	border-collapse: collapse;
}
.table_col th:first-child, .table_col td:first-child; {
	color: #2DB3E;
}
.table_col th:first-child {
	font-weight: normal;
	border-bottom: 2px solid #F5E1A6;
	border-right: 0px solid white;
	border-left: 0px solid white;
	padding: 12px 14px;
	width: 200px;
}
.table_col td:first-child {
    border-right: 0px solid white;
	border-left: 0px solid white;
	padding: 12px 14px;	
	width: 200px;
}

.table_col th {
	font-weight: normal;
	border-bottom: 2px solid #F5E1A6;
	border-right: 20px solid white;
	border-left: 20px solid white;
	padding: 8px 10px;
}
.table_col td {
	border-right: 20px solid white;
	border-left: 20px solid white;
	padding: 12px 10px;
	color: #8b8e91;
}
